streamlit==0.89.0
streamlit-chat
sudo apt-get update
sudo apt-get install portaudio19-dev
PyAudio
pyttsx3
python-dotenv==0.19.2
PyPDF2
Pillow==9.0.0
pytesseract==0.3.8
langchain==0.1.0
transformers==4.15.0
faiss-cpu==1.7.0
googletrans==4.0.0-rc1
speechrecognition==3.8.1
gTTS==2.2.2
