streamlit==0.89.0
# Replace 'streamlit-chat' with the correct package name if it's different
streamlit-chat
# Direct link to the pyaudio source
https://github.com/sakshidarawade/contract-analyzer/blob/main/pa_stable_v190700_20210406.tgz
pyttsx3
python-dotenv==0.19.2
PyPDF2
Pillow==9.0.0
pytesseract==0.3.8
langchain==0.1.0
transformers==4.15.0
faiss-cpu==1.7.0
googletrans==4.0.0-rc1
speechrecognition==3.8.1
gTTS==2.2.2
